.drag-wrap {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #eee;

  & > .drag-wrap-item {
    position: absolute;
    width: 64px;
    height: 32px;
    background-color: deepskyblue;
    cursor: move;

    &:focus &::before {
      content: '';
      border: 1px dashed red;
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5x;
    }
  }
}